= form_for @hall do |f|
  - if @hall.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hall.errors.count, "error")} prohibited this hall from being saved:"
      %ul
        - @hall.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :full_name
    = f.text_field :full_name
  .field
    = f.label :short_name
    = f.text_field :short_name
  .actions
    = f.submit 'Save'
