=breadcrumb_tag do
  %li.active
    Библиотечные залы
  %li
    Библиотека

%h1= t('app.halls.index')
- if is_admin?
  = link_to new_hall_path, class: 'btn btn-success' do
    = fa_icon :plus
    = t('buttons.new.hall')
.table-responsive
  %table.table.table-hover.table-striped.center
    %caption
    %thead
      %tr
        %th= Hall.human_attribute_name(:full_name)
        %th= Hall.human_attribute_name(:short_name)
        %th.p50
        %th.p50
        %th.p50

    %tbody
      - @halls.each do |hall|
        %tr
          %td= hall.full_name
          %td= hall.short_name
          %td
            = link_to hall, class: 'btn btn-success' do
              = fa_icon :eye
          - if is_admin?
            %td
              = link_to edit_hall_path(hall), class: 'btn btn-info' do
                = fa_icon :edit
            %td
              = link_to hall, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
                = fa_icon :times
