%p#notice= notice

%p
  %b= Hall.human_attribute_name(:full_name)
  = @hall.full_name
%p
  %b= Hall.human_attribute_name(:short_name)
  = @hall.short_name

= link_to 'Edit', edit_hall_path(@hall)
\|
= link_to 'Back', halls_path
