= form_for @stack do |f|
  - if @stack.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stack.errors.count, "error")} prohibited this stack from being saved:"
      %ul
        - @stack.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :index
        = f.number_field :index, class: 'form-control'
  %h2= "Выберите зал или создайте новый"
  .row
    .col-md-6
      = f.label :hall_id
      = f.collection_select :hall_id, Hall.all, :id, :full_name,
      {include_blank: true}, {id: 'select_existing_hall', class: 'form-control'}
      = f.fields_for :hall, f.object.hall || f.object.build_hall do |hall|
        = render 'hall_fields', f: hall          
  
  - if params[:action] == 'edit'
    - if !f.object.new_record?
      = link_to @stack.hall,
      :method => :delete,
      :data => { :confirm => t('buttons.confirm.hall') },
      class: 'btn btn-danger' do
        = fa_icon :times
        = t('buttons.destroy')
  %p
  - if is_admin?
    .form-actions.bottom20
      = f.submit nil, class: 'btn btn-primary'
  - else
    %h3 Вносить изменения(регистрировать новые) может только администратор
