= form_for @author do |f|
  - if @author.errors.any?
    #error_explanation
      %h2= "#{pluralize(@author.errors.count, "error")} prohibited this author from being saved:"
      %ul
        - @author.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :index_of_author
        = f.number_field :index_of_author, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'

    .col-md-6
      .form-group
        = f.label :second_name
        = f.text_field :second_name, class: 'form-control'
  - if is_admin?
    .form-actions.bottom20
      = f.submit nil, class: 'btn btn-primary'
  - else
    %h3 Вносить изменения(регистрировать новые) может только администратор
