%p#notice= notice

%p
  %b= Author.human_attribute_name(:first_name)
  = @author.first_name
%p
  %b= Author.human_attribute_name(:second_name)
  = @author.second_name
%p
  %b= Author.human_attribute_name(:last_name)
  = @author.last_name
%p
  %b= Author.human_attribute_name(:index)
  = @author.index

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path
