= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :isbn
        = f.number_field :isbn, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :volume
        = f.number_field :volume, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :year_of_publishing
        = f.number_field :year_of_publishing, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :number_of_shelf
        = f.number_field :number_of_shelf, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :number_of_copies
        = f.number_field :number_of_copies, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :stack_id
        = f.select :stack_id, Stack.all.collect{|t| [t.index, t.id]}, {:prompt => ""}, class: 'form-control'
  %h2 Выберите зарегистрированных авторов
  %h3 (для выбора нескольких зажмите ctrl)
  .field
    = f.select :authors, Author.all.collect{|t| [t.author_index.to_s + " " + t.last_name + " " + t.first_name + " " + t.second_name, t.id]}, {:prompt => ""}, {:multiple => true, class: 'form-control'}
  %h2 Введите данные для незарегистрированных авторов
  - i = 0
  .row.bottom20
    .col-md-12
      = link_to_add_author(f, f.object)
  .row
    = f.fields_for :authors do |df|
      .field
        = df.hidden_field :id
        = render('books/author_book_form', df: df, i: i + 1)
        -i = i+1
  %br 
  - if is_admin?
    .form-actions.bottom20
      = f.submit nil, class: 'btn btn-primary'
  - else
    %h3 Вносить изменения(регистрировать новые) может только администратор
