= form_for @role do |f|
  - if @role.errors.any?
    #error_explanation
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :info
        = f.text_field :info, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :full_info
        = f.text_area :full_info, class: 'form-control'
  - if is_admin?
    .form-actions.bottom20
      = f.submit nil, class: 'btn btn-primary'
  - else
    %h3 Вносить изменения(регистрировать новые) может только администратор
